/* fonts */
@import url('https://fonts.googleapis.com/css?family=Sulphur+Point:300,400,700&display=swap');

* {
  box-sizing: border-box;
  /*   palette */
  --c0: #42fb65; /* rgb(66,251,101) */
  --c1: #EAC435; /* rgb(234,196,53) */
  --c2: #F8333C; /* rgb(248,51,60) */
  --c3: #6542FB; /* rgb(101,66,251) */
  --c4: #30C5FF; /* rgb(48,197,255) */
  --c5: #eee; /* rgb(238,238,238) */
}

/* global classes */
.grow:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

html { scroll-padding-top: 100px; /* height of sticky header */ }

body {
  background: white;
  font-family: 'Sulphur Point', sans-serif;
  margin: 0;
}

/* header */
header {
  position: fixed;
  background-color: var(--c5);
  top: 0; left: 0;
  width: 100%; height: 85px;
  z-index: 100;
  padding: 15px 0;
}
.header-container {
  display: flex;
  align-items: center; /*vertical*/
  justify-content: space-between; /*horizontal*/
}
#logo {font-size: 40px;}
nav {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}


/* hero */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 100px;
}
#hero h1 {
  word-wrap: break-word;
  text-align: center; 
}
form {
  max-width: 300px;
  width: 100%;
}
#hero input[type='email'] {
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  background: var(--color3)
}
input:focus {
  outline: none;
}
.btn {
  width: 100%;
  height: 30px;
  margin: 15px 0;
  max-width: 150px;
  border: 0;
  background: var(--c5);
  border-radius: 6px;
  cursor: pointer; 
  transition: 0.25s; 
  font: inherit;
}
.btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--c0);
  transform: translateY(-0.25em);
  outline: none;
}
.btn:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(0,0,0,0);
  outline: none;
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--c0); }
}

/* presenting */
#presenting {
  text-align: center;
  font-size: 2.7rem;
  padding: 0 150px;
}
#presenting p {
  margin-top: 0;
  font-family: 'Sulphur Point', sans-serif;
}
.green {color: var(--c0);}
.yellow {color: var(--c1);}
.red {color: var(--c2);}
.purple {color: var(--c3);}
.blue {color: var(--c4);}


/* features */
#features {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}
.feature-1 {background: var(--c1);}
.feature-2 {background: var(--c2);}
.feature-3 {background: var(--c3);}
.feature-4 {background: var(--c4);}
.feature {
  color: white;
  flex-basis: 25%;
}
.feature a {color: white;}
.feature-card {padding: 130px 20px; height: 450px;}
#features a {text-decoration: none;}


/* feature-banners */
.feature-banner {
  height: 700px;
  padding: 130px;
  position: relative;
}
.feature-banner p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  position: relative; /* for z-index */
}
.feature-banner-icon {
  position: relative;
  animation-name: icon-anim;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.feature-banner-symbol { 
  top: 170px; left: 1030px; 
  background-color: white;
  padding: 100px;
  border-radius: 50%;
  position: absolute;
}
.feature-banner-title {
  position: absolute;
  font-size: 7rem;
  font-family: 'Montserrat';
  margin: 0 600px 0 80px;
  transform: rotate(-10deg);
}
#peace .feature-banner-title { color: #bf9b14; }
#love .feature-banner-title { color: #d70711; }
#unity .feature-banner-title { color: #3105ec; }
#respect .feature-banner-title { color: #00a3e3; }
/* icons */
/* peace */
#peace-0 { color: var(--c1); }
#peace-1 { top: -350px; left: 850px; } /* peace */
#peace-2 { top: -10px; left: 1050px; } /* spock */
#peace-3 { top: -340px; left: 1000px; } /* dove */
#peace-4 { top: -130px; left: 700px; } /* flag */
/* love */
#love-0 { color: var(--c2); }
#love-1 { top: -400px; left: 1080px; } /* in love s */
#love-2 { top: -10px; left: 850px; } /* in love r */
#love-3 { top: -300px; left: 650px; } /* hand */
#love-4 { top: -130px; left: 920px; } /* kiss */
/* unity */
#unity-0 { color: var(--c3); }
#unity-1 { top: -450px; left: 1100px; } /* infinite */
#unity-2 { top: 0px; left: 800px; } /* globe */
#unity-3 { top: -320px; left: 490px; } /* om */
#unity-4 { top: -200px; left: 790px; } /* glasses */
/* respect */
#respect-0 { color: var(--c4); }
#respect-1 { top: -100px; left: 800px; } /* users */
#respect-2 { top: -380px; left: 800px; } /* user check */
#respect-3 { top: -150px; left: 1100px; } /* praying-hands */
#respect-4 { top: 50px; left: 800px; } /* hand-shake */
/* icon animations */
@keyframes icon-anim {
  0% {transform: translateY(0px);}
  50% {transform: translateY(20px);}
  100% {transform: translateY(0px);}
}

/* warnings */
#warnings {
  margin-top: 20px;
  border: 1px solid black;
}
#warning-info {
  display: flex;
  background: var(--c0);
}
.warning-col {
  flex-basis: 33.33%;
  padding: 15px;
}
#warnings #title {
  padding: 0 40px;
}
#effects {
  padding: 15px;
  list-style-type: disc;
  border-left: 1px solid black;
}
#contraindication {
  padding: 15px;
  border-left: 1px solid black;
}
#own-cost p {
  background: var(--c0);
  margin: 0;
  padding: 15px 10px;
  text-align: center;
  border-top: 1px solid black;
  font-weight: bold;
}


/* prices */
#prices {
  display: flex; 
  margin-top: 20px;
  text-align: center;
  color: white;
}
#prices h2 {font-size: xx-large;}
.price {
  flex-basis: 25%; 
  height: 500px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#prices .description {
  border: 1px solid black;
  border-radius: 8px;
}


/* alternatives */
#alternatives {
  margin-top: 20px;
  background-color: var(--c5);
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin-bottom: 20px;
}
#alternatives > div {flex-basis: 50%;}


/* footer  */
footer {
  height: 100%;
  background-color: var(--c5);
}
.footer-container {
  max-width: 1500px;
  margin: auto;
  text-align: center;
}
footer p {
  margin: 0; 
  height: 30px;
  line-height: 30px;
}
footer a {
  color: var(--c2);
  text-decoration: none;
  /* font-weight: bold; */
}
footer a:hover {
  text-decoration: underline;
}


/* responsive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .container {
    padding: 10px;
  }

  /* header */
  header {
    flex-wrap: wrap;
  }
  .header-container {
    flex-direction: column;
  }

  #hero {
    margin-top: 80px;
    height: 100%;
  }
  #hero h1 {
    font-size: medium;
    text-align: left;
  }
  form {
    max-width: 100%;
  }

  #presenting {
    font-size: large;
    padding: 0;
    text-align: right;
  }

  #features {
    display: grid;
  }
  .feature-card {
    padding: 15px;
    height: 120px;
  }
  .feature-card .description {
    display: none;
  }

  .feature-banner {
    padding: 10px;
  }
  .feature-banner-title {
    transform: rotate(-90deg);
    font-size: 6rem;
    margin: 0;
    line-height: 90px;
  }
}
