/* fonts */
@import url('https://fonts.googleapis.com/css?family=Sulphur+Point:300,400,700&display=swap');

* {
  box-sizing: border-box;
  /*   palette */
  --c0: #42fb65; /* rgb(66,251,101) */
  --c1: #EAC435; /* rgb(234,196,53) */
  --c2: #F8333C; /* rgb(248,51,60) */
  --c3: #6542FB; /* rgb(101,66,251) */
  --c4: #30C5FF; /* rgb(48,197,255) */
  --c5: #eee; /* rgb(238,238,238) */
  /* others */
  --i-mobile: 80px; /* symbol size in mobile */
}

/* global classes */
.grow:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

html { scroll-padding-top: 100px; /* height of sticky header */ }

body {
  background: white;
  font-family: 'Sulphur Point', sans-serif;
  margin: 0;
}

/* header */
header {
  position: fixed;
  background-color: var(--c5);
  top: 0; left: 0;
  width: 100%; height: 85px;
  z-index: 100;
}
header a {text-decoration: none; color: black;}
.header-container {
  display: flex;
  align-items: center; /*vertical*/
  justify-content: space-between; /*horizontal*/
  padding: 15px;
}
#logo {font-size: 40px;}
nav {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
#header-bottom-line {display: flex;}
.hb-line {
  flex-basis: 25%; 
  height: 3px;
  position: relative;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}


/* hero */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 100px;
}
#hero h1 {
  word-wrap: break-word;
  text-align: center; 
}
form {
  max-width: 300px;
  width: 100%;
}
#hero input[type='email'] {
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  background: var(--color3)
}
input:focus {
  outline: none;
}
.btn {
  width: 100%;
  height: 30px;
  margin: 15px 0;
  max-width: 150px;
  border: 0;
  background: var(--c5);
  border-radius: 6px;
  cursor: pointer; 
  transition: 0.25s; 
  font: inherit;
}
.btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--c0);
  transform: translateY(-0.25em);
  outline: none;
}
.btn:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(0,0,0,0);
  outline: none;
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--c0); }
}

/* presenting */
#presenting {
  text-align: center;
  font-size: 2.7rem;
  padding: 0 150px;
}
#presenting p {
  margin-top: 0;
  font-family: 'Sulphur Point', sans-serif;
}
.green {color: var(--c0);}
.yellow {color: var(--c1);}
.red {color: var(--c2);}
.purple {color: var(--c3);}
.blue {color: var(--c4);}


/* features */
#features {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}
.c1-bg {background: var(--c1);}
.c2-bg {background: var(--c2);}
.c3-bg {background: var(--c3);}
.c4-bg {background: var(--c4);}
.feature {
  color: white;
  flex-basis: 25%;
}
.feature a {color: white;}
.feature-card {padding: 130px 20px; height: 450px;}
#features a {text-decoration: none;}


/* feature-banners */
.feature-banner {
  height: 700px;
  padding: 130px;
  position: relative;
}
.feature-banner-title {
  position: absolute;
  font-size: 7rem;
  font-family: 'Montserrat';
  margin: 0 600px 0 80px;
  transform: rotate(-10deg);
}
.feature-banner p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  position: relative; /* for z-index */
}
.feature-banner-symbol { 
  top: 170px; left: 1030px; 
  background-color: white;
  padding: 100px;
  border-radius: 50%;
  position: absolute;
}
.feature-banner-icon {
  position: relative;
  animation-name: icon-anim;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
#peace .feature-banner-title { color: #bf9b14; }
#love .feature-banner-title { color: #d70711; }
#unity .feature-banner-title { color: #3105ec; }
#respect .feature-banner-title { color: #00a3e3; }
/* icons */
/* peace */
#peace-0 { color: var(--c1); }
#peace-1 { top: -350px; left: 850px; } /* peace */
#peace-2 { top: -10px; left: 1050px; } /* spock */
#peace-3 { top: -340px; left: 1000px; } /* dove */
#peace-4 { top: -130px; left: 700px; } /* flag */
/* love */
#love-0 { color: var(--c2); }
#love-1 { top: -400px; left: 1080px; } /* in love s */
#love-2 { top: -10px; left: 850px; } /* in love r */
#love-3 { top: -300px; left: 650px; } /* hand */
#love-4 { top: -130px; left: 920px; } /* kiss */
/* unity */
#unity-0 { color: var(--c3); }
#unity-1 { top: -450px; left: 1100px; } /* infinite */
#unity-2 { top: 0px; left: 800px; } /* globe */
#unity-3 { top: -320px; left: 490px; } /* om */
#unity-4 { top: -200px; left: 790px; } /* glasses */
/* respect */
#respect-0 { color: var(--c4); }
#respect-1 { top: -100px; left: 800px; } /* users */
#respect-2 { top: -380px; left: 800px; } /* user check */
#respect-3 { top: -150px; left: 1100px; } /* praying-hands */
#respect-4 { top: 50px; left: 800px; } /* hand-shake */
/* icon animations */
@keyframes icon-anim {
  0% {transform: translateY(0px);}
  50% {transform: translateY(20px);}
  100% {transform: translateY(0px);}
}


/* warnings */
#warnings {
  margin-top: 20px;
  padding: 50px;
  background: var(--c5);
}
#warning-info {display: flex;}
.warning-col {flex-basis: 33.33%;}
#effects {list-style-type: disc;}
#own-cost p {
  margin: 20px 0 0 0;
  text-align: center;
  font-weight: bold;
}


/* prices */
#prices {
  display: flex; 
  margin-top: 20px;
  text-align: center;
  color: white;
}
#prices h2 {font-size: xx-large;}
.price {
  flex-basis: 25%; 
  height: 500px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#prices .description {
  border: 1px solid black;
  border-radius: 8px;
}


/* alternatives */
#alternatives {
  margin-top: 20px;
  background-color: var(--c5);
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin-bottom: 20px;
}
#alternatives > div {flex-basis: 50%;}


/* footer  */
footer {
  height: 100%;
  background-color: var(--c5);
}
.footer-container {
  max-width: 1500px;
  margin: auto;
  text-align: center;
}
footer p {
  margin: 0; 
  height: 30px;
  line-height: 30px;
}
footer a {
  color: var(--c2);
  text-decoration: none;
  /* font-weight: bold; */
}
footer a:hover {
  text-decoration: underline;
}


/* responsive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .container {
    padding: 10px;
  }

  /* header */
  header {padding: 0; height: 100px;}
  .header-container {
    flex-direction: column;
  }
  nav {
    width: 100%; 
    justify-content: space-evenly;
    margin-top: 5px;
  }
  #header-bottom-line {
    margin-top: -3px;
  }

  /* hero */
  #hero {
    margin-top: 90px;
    height: 100%;
  }
  #hero h1 {
    font-size: medium;
    text-align: left;
  }
  form {
    max-width: 100%;
  }

  /* presenting */
  #presenting {
    font-size: large;
    padding: 0;
    text-align: right;
  }

  /* features */
  #features {
    display: grid;
  }
  .feature-card {
    padding: 15px;
    height: 120px;
  }
  .feature-card .description {
    display: none;
  }
  
  /* feature-banners */
  .feature-banner {
    padding: 10px;
    position: static;
    height: 100%;
  }
  .feature-banner-title {
    position: static;
    transform: rotate(0deg);
    font-size: 3.9rem;
    margin: 0;
    line-height: 70px;
  }
  .feature-banner p {position: static;}
  .feature-banner-symbol { 
    position: static;
    font-size: 2em;
    padding: 15px;
    left: 150px;
    margin-bottom: 10px;
  }
  .feature-banner-icon {display: none;}

  /* warnings */
  #warnings {padding: 20px;}
  #warning-info {flex-direction: column;}

  /* prices */
  #prices {flex-direction: column;}
  #prices .description {padding: 0 1.2rem;}

  /* alternatives */
  #alternatives {flex-direction: column;}
}

/* Small devices (portrait tablets and large phones, 600px to 992px) */
@media only screen and (min-width: 600px) and (max-width: 992px) {

  /* presenting */
  #presenting {
    padding: 1.1rem;
    font-size: 2rem;
  }
  
  /* feature-banner */
  /* title */
  .feature-banner-title {
    line-height: 7rem;
    font-size: 6rem;
  }
  /* symbols */
  .feature-banner-symbol {
    left: 35rem;
    top: 27rem;
    padding: 2rem;
    font-size: 7rem;
  }
  /* icons */
  .feature-banner-icon {font-size: 3rem;}
  /* peace */
  #peace-1 { top: -0rem; left: 5rem; } /* peace */
  #peace-2 { top: -28rem; left: 15rem; } /* spock */
  #peace-3 { top: -29rem; left: 1rem; } /* dove */
  #peace-4 { top: 4rem; left: 10rem; } /* flag */
  /* love */
  #love-1 { top: -24rem; left: -4rem; } /* in love s */
  #love-2 { top: 10rem; left: 18rem; } /* in love r */
  #love-3 { top: -8rem; left: 27rem; } /* hand */
  #love-4 { top: -3rem; left: 8rem; } /* kiss */
  /* unity */
  #unity-1 { top: -29rem; left: 32rem; } /* infinite */
  #unity-2 { top: 0rem; left: 8rem; } /* globe */
  #unity-3 { top: -30rem; left: 4rem; } /* om */
  #unity-4 { top: -20rem; left: 7rem; } /* glasses */
  /* respect */
  #respect-1 { top: -20rem; left: 8rem; } /* users */
  #respect-2 { top: 3rem; left: 8rem; } /* user check */
  #respect-3 { top: -15rem; left: 24rem; } /* praying-hands */
  #respect-4 { top: 5rem; left: 8rem; } /* hand-shake */

  /* warnings */
  #warnings ul, #warnings p {font-size: 1.1rem;}
  #warning-info {flex-direction: column;}

  /* prices */
  #prices {flex-direction: column;}
  #prices .description {
    padding: 0 1.2rem;
    font-size: 1.1rem;
  }
}
