/* fonts */
@import url("https://fonts.googleapis.com/css?family=Sulphur+Point:300,400,700&display=swap");

* {
  box-sizing: border-box;
  /*   palette */
  --c0: #42fb65; /* rgb(66,251,101) */
  --c1: #eac435; /* rgb(234,196,53) */
  --c2: #f8333c; /* rgb(248,51,60) */
  --c3: #6542fb; /* rgb(101,66,251) */
  --c4: #30c5ff; /* rgb(48,197,255) */
  --c5: #eee; /* rgb(238,238,238) */
  /* others */
  --el-margin: 1.4rem;
}

/* global classes */
.grow:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

html {
  scroll-padding-top: 6rem; /* height of sticky header */
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: "Sulphur Point", sans-serif;
  margin: 0;
}

/* header */
header {
  position: fixed;
  background-color: var(--c5);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header a {
  text-decoration: none;
  color: black;
}
.header-container {
  display: flex;
  align-items: center; /*vertical*/
  justify-content: space-between; /*horizontal*/
  padding: 1.2rem 0;
  background-color: var(--c5);
}
#logo {
  font-size: 3rem;
}
nav {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.1rem;
}
#header-bottom-line {
  display: flex;
}
.hb-line {
  flex-basis: 25%;
  height: 0.2rem;
  position: static;
}

/* container */
.container {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}

/* hero */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 18rem;
  margin-top: 7rem;
}
#hero h1 {
  word-wrap: break-word;
  text-align: center;
}
form {
  max-width: 30rem;
  width: 100%;
}
input[type="email"] {
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.6rem;
}
input:focus {
  outline: none;
}
.btn {
  width: 100%;
  height: 2rem;
  margin: 1rem 0;
  max-width: 10rem;
  border: 0;
  background: var(--c5);
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.25s;
  font: inherit;
}
.btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--c0);
  transform: translateY(-0.25em);
  outline: none;
}
.btn:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(0, 0, 0, 0);
  outline: none;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--c0);
  }
}

/* presenting */
#presenting {
  text-align: center;
  font-size: 2.7rem;
  padding: 0 5rem;
}
#presenting p {
  margin-top: 0;
  font-family: "Sulphur Point", sans-serif;
}
.green {
  color: var(--c0);
}
.yellow {
  color: var(--c1);
}
.red {
  color: var(--c2);
}
.purple {
  color: var(--c3);
}
.blue {
  color: var(--c4);
}

/* features */
#features {
  display: flex;
  text-align: center;
  margin-bottom: var(--el-margin);
}
.c1-bg {
  background: var(--c1);
}
.c2-bg {
  background: var(--c2);
}
.c3-bg {
  background: var(--c3);
}
.c4-bg {
  background: var(--c4);
}
.feature {
  color: white;
  flex-basis: 25%;
}
.feature a {
  color: white;
}
.feature-card {
  padding: 8rem 2rem;
  height: 100%;
}
#features a {
  text-decoration: none;
}

/* feature-banners */
.feature-banner {
  height: 40rem;
  padding: 8rem;
  position: relative;
}
.feature-banner-title {
  position: absolute;
  font-size: 7rem;
  font-family: "Montserrat", sans-serif;
  margin: 0 45rem 0 4rem;
  transform: rotate(-10deg);
}
.feature-banner p {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  position: relative; /* for z-index */
}
.feature-banner-symbol {
  top: 9rem;
  left: 65rem;
  background-color: white;
  padding: 5rem;
  border-radius: 50%;
  position: absolute;
}
.feature-banner-icon {
  position: relative;
  animation-name: icon-anim;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  font-size: 3rem;
}
#peace .feature-banner-title {
  color: #bf9b14;
}
#love .feature-banner-title {
  color: #d70711;
}
#unity .feature-banner-title {
  color: #3105ec;
}
#respect .feature-banner-title {
  color: #00a3e3;
}
/* icons */
/* peace */
#peace-0 {
  color: var(--c1);
}
#peace-1 {
  top: -3rem;
  left: 45rem;
} /* peace */
#peace-2 {
  top: -10rem;
  left: 70rem;
} /* spock */
#peace-3 {
  top: -23rem;
  left: 50rem;
} /* dove */
#peace-4 {
  top: -13rem;
  left: 40rem;
} /* flag */
/* love */
#love-0 {
  color: var(--c2);
}
#love-1 {
  top: -4rem;
  left: 70rem;
} /* in love s */
#love-2 {
  top: -1rem;
  left: 50rem;
} /* in love r */
#love-3 {
  top: -3rem;
  left: 10rem;
} /* hand */
#love-4 {
  top: -23rem;
  left: 49rem;
} /* kiss */
/* unity */
#unity-0 {
  color: var(--c3);
}
#unity-1 {
  top: -4rem;
  left: 11rem;
} /* infinite */
#unity-2 {
  top: -10rem;
  left: 28rem;
} /* globe */
#unity-3 {
  top: -23rem;
  left: 40rem;
} /* om */
#unity-4 {
  top: -20rem;
  left: 70rem;
} /* glasses */
/* respect */
#respect-0 {
  color: var(--c4);
}
#respect-1 {
  top: -10rem;
  left: 40rem;
} /* users */
#respect-2 {
  top: -18rem;
  left: 51rem;
} /* user check */
#respect-3 {
  top: -19rem;
  left: 11rem;
} /* praying-hands */
#respect-4 {
  top: 5rem;
  left: 60rem;
} /* hand-shake */
/* icon animations */
@keyframes icon-anim {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/* warnings */
#warnings {
  margin-top: var(--el-margin);
  padding: 3rem;
  background: var(--c5);
}
#warning-info {
  display: flex;
}
.warning-col {
  flex-basis: 33.33%;
}
#effects {
  list-style-type: disc;
}
#own-cost p {
  margin: 1rem 0 0 0;
  text-align: center;
  font-weight: bold;
}

/* prices */
#prices {
  display: flex;
  margin-top: var(--el-margin);
  text-align: center;
  color: white;
}
#prices h2 {
  font-size: xx-large;
}
.price h2,
.price button {
  margin: 1rem 0;
}
.price {
  flex-basis: 25%;
  height: 35rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#prices .description {
  border: 1px solid black;
  border-radius: 8px;
  padding: 0 1rem;
}

/* alternatives */
#alternatives {
  margin-top: var(--el-margin);
  background-color: var(--c5);
  display: flex;
  flex-direction: row;
  padding: 3rem;
}
#alternatives > div {
  flex-basis: 50%;
}

/* footer  */
footer {
  margin-top: var(--el-margin);
  height: 100%;
  background-color: var(--c5);
  font-size: 1.1rem;
}
.footer-container {
  margin: auto;
  text-align: center;
}
footer p {
  margin: 0;
  padding: 0.4rem;
}
footer a {
  color: var(--c2);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* responsive */
/* phones */
@media only screen and (max-width: 768px) {
  .container {
    padding: 0.3rem;
  }

  /* header */
  header {
    padding: 0;
  }
  .header-container {
    flex-direction: column;
  }
  nav {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 0.1rem;
  }

  /* hero */
  #hero {
    margin-top: 7rem;
    height: 100%;
  }
  #hero h1 {
    font-size: medium;
    text-align: left;
  }
  form {
    max-width: 100%;
  }

  /* presenting */
  #presenting {
    font-size: large;
    padding: 0;
    text-align: right;
  }

  /* features */
  #features {
    display: grid;
  }
  .feature-card {
    padding: 1rem;
    height: 100%;
  }
  .feature-card h2 {
    margin-bottom: 0;
  }
  .feature-card .description {
    display: none;
  }

  /* feature-banners */
  .feature-banner {
    padding: 1rem;
    position: static;
    height: 100%;
  }
  .feature-banner-title {
    position: static;
    transform: rotate(0deg);
    font-size: 3.9rem;
    margin: 0;
    line-height: 3.7rem;
  }
  .feature-banner p {
    position: static;
  }
  .feature-banner-symbol {
    position: static;
    font-size: 2em;
    padding: 1.25rem;
    left: 1rem;
    margin-bottom: 1rem;
  }
  .feature-banner-icon {
    display: none;
  }

  /* warnings */
  #warnings {
    padding: 1rem;
  }
  #warning-info {
    flex-direction: column;
  }

  /* prices */
  #prices {
    flex-direction: column;
  }
  #prices .description {
    padding: 0 1.2rem;
  }

  /* alternatives */
  #alternatives {
    flex-direction: column;
  }
}

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* header */
  .header-container {
    padding: 0 1rem;
  }

  /* nav */
  nav {
    width: 45%;
  }

  /* hero */
  #hero {
    margin-top: 4rem;
  }

  /* presenting */
  #presenting {
    padding: 1.1rem;
    font-size: 2rem;
  }

  /* features */
  .feature-card {
    padding: 4rem 1rem;
  }

  /* feature-banner */
  /* title */
  .feature-banner-title {
    line-height: 7rem;
    font-size: 6rem;
  }
  /* symbols */
  .feature-banner-symbol {
    left: 35rem;
    top: 27rem;
    padding: 2rem;
    font-size: 7rem;
  }
  /* icons */
  .feature-banner-icon {
    font-size: 3rem;
  }
  /* peace */
  #peace-1 {
    top: -0rem;
    left: 5rem;
  } /* peace */
  #peace-2 {
    top: -22rem;
    left: 32rem;
  } /* spock */
  #peace-3 {
    top: -29rem;
    left: 1rem;
  } /* dove */
  #peace-4 {
    top: -4rem;
    left: 10rem;
  } /* flag */
  /* love */
  #love-1 {
    top: -24rem;
    left: -4rem;
  } /* in love s */
  #love-2 {
    top: -20rem;
    left: 28rem;
  } /* in love r */
  #love-3 {
    top: -8rem;
    left: 27rem;
  } /* hand */
  #love-4 {
    top: -3rem;
    left: 8rem;
  } /* kiss */
  /* unity */
  #unity-1 {
    top: -29rem;
    left: 32rem;
  } /* infinite */
  #unity-2 {
    top: 0rem;
    left: 8rem;
  } /* globe */
  #unity-3 {
    top: -30rem;
    left: 4rem;
  } /* om */
  #unity-4 {
    top: -20rem;
    left: 7rem;
  } /* glasses */
  /* respect */
  #respect-1 {
    top: -20rem;
    left: 8rem;
  } /* users */
  #respect-2 {
    top: 3rem;
    left: 8rem;
  } /* user check */
  #respect-3 {
    top: -15rem;
    left: 24rem;
  } /* praying-hands */
  #respect-4 {
    top: 5rem;
    left: 8rem;
  } /* hand-shake */

  /* warnings */
  #warning-info {
    flex-direction: column;
  }

  /* prices */
  #prices {
    flex-direction: column;
  }
  #prices .description {
    padding: 0 1.2rem;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  /* symbols */
  .feature-banner-symbol {
    /* top: 10rem; left: 55rem; */
    padding: 3rem;
    left: 35rem;
    top: 27rem;
  }

  /* icons */
  #peace-3 {
    top: -25rem;
    left: 1rem;
  } /* dove */
}

@media only screen and (min-width: 1440px) {
  /* header */
  .header-container {
    padding: 0 1rem;
  }

  /* hero */
  #hero {
    margin-top: 4rem;
  }

  /* symbols */
  #unity-4 {
    top: -20rem;
    left: 7rem;
  } /* glasses */
}
